body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.caja{
    width: 500px;
    height: 800px;
}
.cajita{
    width: 450px;
    height: 750px;
}
h1{
    font-weight: 800;
    color: rgba(52, 152, 219, 1);
}
h3{
    font-size: 25px;
}
.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centrarP{
    padding-left: 30px;
}
.borde{
    border: solid;
}
.buttonAceptar{
    width: 150px;
    height:60px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #87CEEB;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}
.bottonCancelar{
    width: 150px;
    height:60px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgba(248, 79, 79, 0.973);
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}
button:hover {
    background-color: #dcda72;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
input[type="date"]{
    border-radius: 20px;
    height: 50px;
    width: 300px;
    text-align: center;
}
input:not(input[type="date"]){
    border-radius: 20px;
    height: 60px;
    width: 350px;
    text-align: center;
}
input::placeholder{
    text-align: center;
    font-size: 20px;
}
.ajustarBoton{
    width: 80%;
    margin: 10px;
    padding: 15px;
    justify-content: space-around;
}

.colorCaja{
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10%/5%;
}