body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(243, 243, 243);
}


/* aqui va la creacion de hogares */


.logo{
    border-radius: 30px;
    height: 80px;
}
.borde{
    border: solid;
}
.flexR{
    display: flex;
    justify-content: space-between;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fotoPerfil{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border:solid;
}
.colorPerfil{
    background-color:rgba(170, 230, 248, 0.6);
}
.margenTop{
    margin: 20px;
}


/* aca abajo va todo lo de main */


main{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    border-radius: 10px;
    height: 30px;
    width: 200px;
    text-align: center;
    border: none;
}
input::placeholder{
    text-align: center;
}
.caja{
    width: 70%;
    height: 1900px;
}
.cajaInterna{
    margin: 20px;
    width: 45%;  
}
h4{
    font-size: medium;
}
.ajuste{
    padding-left:10px ;
}


/* aca abajo va todo lo de estructura */


.tamañoEstructura{
    width: 45%;
    margin: 20px;
}
.estructura{
    position: sticky;
    top: 25px;
    border-radius: 30px;
    margin: 25px;
    width: 90%;
    height: auto;
    background-color: rgb(243, 243, 243);
}
.imgEstructura{
    border-radius: 30px;
    width: 100%;
    height: auto;
}