main{
    display: flex;
    justify-content:center;
    align-items: end;
    padding: 80px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
input::placeholder{
    text-align: center;
    font-size: 20px;
}
input:not(input[type="checkbox"]){
    border-radius: 20px;
    height: 60px;
    width: 350px;
    text-align: center;
}
.titulo{
    padding-top: 20px;
}
.borde{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10%/5%;
    background-color: white;
}
.Timg{
    width: 100px;
    padding-top: 30px;
}
.centrar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.correccionC{
    display: flex;
    align-items: center;
    justify-content: center;
}
.caja{
    width: 400px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
}
.Copiacaja{
    width: 400px;
    height: 600px;
}
.buttonAceptar{
    width: 150px;
    height:60px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #87CEEB;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}
.bottonCancelar{
    width: 150px;
    height:60px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgba(248, 79, 79, 0.973);
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}
button:hover{
    background-color: #dcda72;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.Cbotones{
    margin: 10px;
}
.eleccion{
    display: flex;
}
.linearB{
    display: flex;
}
input:not(input[type="checkbox"]){
    border-radius: 20px;
    width: 300px;
    height: 50px;   
}
h1{
    font-weight: 800;
    color: rgba(52, 152, 219, 1);
}
h3{
    font-size: 25px;
}